# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
/storage/logs
/bootstrap/cache/*.php

# Environment
.env
.env.*
!.env.example

# IDE
.vscode
.idea
.fleet

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build
/public/build
/public/hot

# Railway
.railway
